@import "tailwindcss";

@font-face {
  font-family: Geist;
  src: url("/img/Geist/Geist-Regular.woff2") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/img/Geist/Geist-Medium.woff2") format("woff");
  font-weight: 500; /* Medium weight */
}

@font-face {
  font-family: "Geist";
  src: url("/img/Geist/GeistVariableVF.woff2") format("woff");
  font-weight: 500; /* Medium weight */
}

@font-face {
  font-family: "Geist mono";
  src: url("/img/Geist.Mono/GeistMono-Medium.woff2") format("woff");
  font-weight: normal; /* Medium weight */
}

@font-face {
  font-family: "Geist mono ultra-light";
  src: url("/img/Geist.Mono/GeistMono-UltraLight.woff2") format("woff");
  font-weight: 100; /* Medium weight */
}

@font-face {
  font-family: "Geist";
  src: url("/img/Geist/Geist-Light.woff2") format("woff");
  font-weight: 300; /* Light weight */
}

:root {
  font-family: Geist, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  interpolate-size: allow-keywords;

  --background-gray: oklch(0.38 0 0);
  --main-text: #213547;
  --background-main: #213547;
}

body {
  margin: auto;
  color: var(--main-text);

  background-color: #ffffff;
}

.project-list > * {
  padding: calc(var(--spacing) * 5);
}

header ul a:active,
.active {
  color: #535bf2;
}

.intro-section p {
  font-size: clamp(1rem, 1.1vw, 1.6vw);
  max-width: 70%;
}
.intro-section p span {
  font-size: (20px, 1.7vw, 1.8rem);
}

.call-to-action {
  font-size: clamp(1.7rem, 1.7vw, 32px);
}

a {
  font-weight: 500;
  font-size: clamp(1rem, 1.2vw, 20px);

  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

main {
  padding-top: calc(var(--spacing) * 19);
  position: relative;
  overflow: hidden;
}

h1 {
  /* font-size: 3.2em; */
  font-size: clamp(3.3vw, 3.2rem, 3.3rem);
  /* line-height: 1.1; */
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.unclamped {
  font-size: 1rem;
}

.clamped {
  font-size: clamp(1.2rem, 1.4vw, 22px);
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.technologies-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(62px, 4vw, 394px), 1fr));
  justify-items: center;
}

#menu-list li:hover {
  /* background-color: var(--main-text); */

  background-color: #4e4e4e;
}

.project-images {
  width: 100%;
  height: 100%;

  rotate: 7deg;
  /* margin: 0 auto; */
  margin: -3px 18px auto;
  object-fit: cover;
}

.project-picture-wrapper {
  display: flex;
  flex-direction: column;

  padding: calc(var(--spacing) * 2);
}

.project-picture-wrapper img {
  border-radius: 8px;
}

.skill-flex-container {
  display: flex;
}

.skills h3 {
  margin-top: calc(var(--spacing) * 4);
}

.skills hr {
  color: #ccc;
  margin-block: calc(var(--spacing) * 1);
}

.skill-pic {
  margin: 49px 4px -9px -19px;
}

.interested {
  margin: 8rem 8rem 2rem 0rem;
}

.send-mail {
  margin: -1rem 0rem 0rem 7rem;
}

.welcome {
  font-size: clamp(21px, 15vw, 4.5rem);
  overflow: hidden;
}

.technologies-span {
  font-size: clamp(1vw, 1rem, 2rem);
}

.technologies-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(60px, auto));
}

.responsive-gap {
  gap: clamp(calc(var(--spacing) * 11), 6vw, 14vw);
}

.project-list li:nth-of-type(1) {
  grid-column: span 3;
}

.project-list li:nth-of-type(1) .card-heading-wrapper {
  grid-column: span 2;
}
.project-list li:nth-of-type(1) .links-wrapper {
  grid-column: span 3;
}

.project-list li:nth-of-type(2) {
  grid-column: 4/9;
}
.project-list li:nth-of-type(2) .links-wrapper {
  grid-column: span 5;
}

.project-list li:nth-of-type(2) .card-heading-wrapper {
  grid-column: span 3;
}
.project-list li:nth-of-type(2) .project-picture-wrapper {
  grid-column: span 2;
}
.project-list li:nth-of-type(3) {
  grid-column: 4/6;
}
.project-list li:nth-of-type(3) .links-wrapper {
  grid-column: span 2;
}
.project-list li:nth-of-type(4) {
  grid-column: 6/9;
}
.project-list li:nth-of-type(4) .card-heading-wrapper {
  grid-column: span 2;
}
.project-list li:nth-of-type(4) .links-wrapper {
  grid-column: span 3;
}
.project-list li:nth-of-type(5) {
  grid-column: 1/6;
}

.project-list li:nth-of-type(5) .card-heading-wrapper {
  grid-column: span 4;
}
.project-list li:nth-of-type(5) .links-wrapper {
  grid-column: 1/6;
}

@layer utilities {
  h1 {
    @apply px-3;
  }

  .skill-flex-container {
    @apply gap-2;
  }

  .bg-background-gray {
    background-color: var(--background-gray);
  }

  .text-main {
    color: var(--main-text);
  }

  .bg-background-main {
    background-color: var(--main-text);
  }

  .background-main {
    color: var(--main-text);
  }

  .standard-label {
    @apply block text-gray-700 text-sm font-bold mb-2;
  }

  .standard-input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-md;
  }

  header {
    @apply sticky top-0  z-10 bg-white;
  }

  /* .gradient-title {
    @apply text-2xl mb-2 font-bold bg-gradient-to-r from-blue-400 to-fuchsia-400 bg-clip-text text-transparent;
  } */
  .gradient-title {
    @apply text-2xl mb-2 font-bold;
  }

  body {
    @apply max-w-4xl lg:max-w-6xl;
  }

  picture {
    @apply w-full max-h-40;
  }

  footer {
    @apply p-3 mt-20;
  }

  .footer-links {
    @apply flex items-start gap-2 flex-wrap flex-col;
  }

  .links-wrapper {
    @apply flex  basis-full bottom-0 mt-4;
  }

  /* .livelinks {
    @apply flex justify-between gap-8 font-serif rounded-md bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-gray-300 ring-inset hover:bg-gray-50;
  } */

  .livelinks {
    @apply flex justify-between items-end w-full  text-[#535bf2] rounded-md bg-white  font-semibold;
  }

  .project-list__item {
    @apply flex-wrap justify-between grid grid-cols-subgrid  relative bg-white rounded ring-1 ring-gray-300 ring-inset shadow-xs;
  }

  .project-list__item:hover {
    @apply ring-gray-400 shadow-sm cursor-pointer;
  }

  .card-heading-wrapper,
  .project-picture-wrapper {
    @apply basis-1/2;
  }

  .card-heading-wrapper h2 {
    @apply leading-5 pb-5;
  }

  .card-link {
    @apply flex flex-row items-center gap-1;
  }

  .about-cards {
    @apply overflow-hidden shadow-sm;
  }

  .ring-default {
    @apply ring-1 ring-black/15;
  }

  .education-item ul {
    @apply flex flex-col gap-2;
  }

  .education-item li {
    @apply text-sm;
  }

  #menu-list li {
    @apply p-2 rounded;
  }

  .skill-wrapper {
    @apply self-start p-3  grid grid-cols-subgrid ring-1;
  }

  .technologies-item {
    @apply gap-2 py-1;
  }

  .education-item {
    @apply mb-3 p-2;
  }
  .education-item ul {
    @apply mt-2;
  }

  .call-to-action {
    @apply rounded-md bg-indigo-50 px-3 py-2 text-sm font-semibold text-indigo-600 shadow-xs hover:bg-indigo-100;
  }

  .call-to-action-secondary {
    @apply rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-gray-300 ring-inset hover:bg-gray-50;
  }
}
