@import "tailwindcss";

@font-face {
  font-family: Geist;
  src: url("/img/Geist/Geist-Regular.woff2") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/img/Geist/Geist-Medium.woff2") format("woff");
  font-weight: 500; /* Medium weight */
}

@font-face {
  font-family: "Geist";
  src: url("/img/Geist/GeistVariableVF.woff2") format("woff");
  font-weight: 500; /* Medium weight */
}

@font-face {
  font-family: "Geist mono";
  src: url("/img/Geist.Mono/GeistMono-Medium.woff2") format("woff");
  font-weight: normal; /* Medium weight */
}

@font-face {
  font-family: "Geist mono ultra-light";
  src: url("/img/Geist.Mono/GeistMono-UltraLight.woff2") format("woff");
  font-weight: 100; /* Medium weight */
}

@font-face {
  font-family: "Geist";
  src: url("/img/Geist/Geist-Light.woff2") format("woff");
  font-weight: 300; /* Light weight */
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Geist, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  interpolate-size: allow-keywords;

  --background-gray: oklch(0.38 0 0);
  --main-text: #213547;
  --background-main: #213547;
}

body {
  margin: auto;
  color: var(--main-text);
  /* font-size: clamp(1rem, 1.4vw, 1.6vw); */
  /* padding-inline: calc(var(--spacing) * 2); */
  /* max-width: 1000px; */
  background-color: #ffffff;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='296' height='296' viewBox='0 0 100 100'%3E%3Cg stroke='%23EEE4DE' stroke-width='2.1' stroke-opacity='0.26'%3E%3Crect fill='%23FFFDF5' x='-60' y='-60' width='66' height='240'/%3E%3C/g%3E%3C/svg%3E"); */
}

/* body::after {
  content: "";
  width: 1299px;
  height: 1300px;
  clip-path: ellipse(207px 179px at 0% 0%);
  top: 0;
  z-index: 10;
  mix-blend-mode: difference;
  position: absolute;
  background-color: #707070;
} */

.project-list > * {
  /* margin-block: calc(var(--spacing) * 10); */
  /* border: 1px solid black; */
  padding: calc(var(--spacing) * 6);
  padding-bottom: calc(var(--spacing) * 14);
  /* border-radius: calc(var(--spacing) * 6); */
}

header ul a:active,
.active {
  color: #535bf2;
}

.intro-section p {
  font-size: clamp(1rem, 1.1vw, 1.6vw);
  max-width: 70%;
}
.intro-section p span {
  font-size: (20px, 1.7vw, 1.8rem);
}

.call-to-action {
  font-size: clamp(1.7rem, 1.7vw, 32px);
}

/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

a {
  font-weight: 500;
  font-size: clamp(1rem, 1.2vw, 20px);
  /* font-size: clamp(1.7rem, 1.7vw, 32px); */

  /* color: #646cff; */
  /* color: white; */
  /* color: red; */
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

main {
  padding-top: calc(var(--spacing) * 19);
  position: relative;
  overflow: hidden;
}

h1 {
  /* font-size: 3.2em; */
  font-size: clamp(3.3vw, 3.2rem, 3.3rem);
  /* line-height: 1.1; */
}

/* h1::after {
  content: "";
  position: absolute;
  width: 106%;
  height: 240px;
  transform: scale(1.5);
  left: 0px;
  z-index: 0;
  background-color: #9d9d9d2e;
  top: -101px;
} */

/* footer > * {
  color: white;
} */

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.unclamped {
  font-size: 1rem;
}

.clamped {
  font-size: clamp(1.2rem, 1.4vw, 22px);
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.technologies-item {
  /* display: flex;
  align-items: center;
  gap: 10px; */
  display: grid;
  /* grid-template-columns: 2fr auto; */
  grid-template-columns: repeat(auto-fit, minmax(clamp(62px, 4vw, 394px), 1fr));
  justify-items: center;
}

.project-list__item {
  /* background: rgb(141, 137, 212);
  clip-path: polygon(505% 44px, 7% 3px, -1% 381px); */
  border: 1px solid;
  gap: clamp(24px, 5vw, 4rem);
}

#menu-list li:hover {
  /* background-color: var(--main-text); */

  background-color: #4e4e4e;
}

.project-images {
  width: 100%;
  height: 200%;

  rotate: 7deg;
  margin: 0 auto;
  object-fit: cover;
}

.project-picture-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: calc(var(--spacing) * 2);
}

.project-picture-wrapper img {
  border-radius: 8px;
}
/* 
.project-list__item:nth-child(2) {
  border: 1px solid green;
}
.project-list__item:nth-child(1) {
  border: 1px solid red;
}
.project-list__item:nth-child(3) {
  border: 1px solid blue;
}
.project-list__item:nth-child(4) {
  border: 1px solid rgb(88, 28, 76);
}

.project-list__item:nth-child(5) {
  border: 1px solid rgb(91, 62, 0);
} */

/* .project-list__item:hover {
  border: 1px solid #707070;
} */

.skill-flex-container {
  display: flex;
}

.skills h3 {
  margin-top: calc(var(--spacing) * 4);
}

.skills hr {
  color: #ccc;
  margin-block: calc(var(--spacing) * 1);
}

.skill-pic {
  margin: 49px 4px -9px -19px;
}

.interested {
  margin: 8rem 8rem 2rem 0rem;
}

.send-mail {
  margin: -1rem 0rem 0rem 7rem;
}

.welcome {
  font-size: clamp(21px, 15vw, 4.5rem);
  overflow: hidden;
}

.technologies-span {
  font-size: clamp(1vw, 1rem, 2rem);
}

.technologies-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(60px, auto));
}

.responsive-gap {
  gap: clamp(calc(var(--spacing) * 11), 6vw, 14vw);
}

/* .about-cards img {
  clip-path: ellipse(33% 135% at 31% 45%);
} */

@layer utilities {
  header,
  main,
  footer {
    @apply px-2;
  }

  main {
    @apply p-3;
  }

  h1 {
    @apply px-3;
  }

  .skill-flex-container {
    @apply gap-2;
  }

  .bg-background-gray {
    background-color: var(--background-gray);
  }

  .text-main {
    color: var(--main-text);
  }

  .bg-background-main {
    background-color: var(--main-text);
  }

  .background-main {
    color: var(--main-text);
  }

  .standard-label {
    @apply block text-gray-700 text-sm font-bold mb-2;
  }

  .standard-input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-md;
  }

  header {
    @apply sticky top-0  z-10 bg-white;
  }

  /* .gradient-title {
    @apply text-2xl mb-2 font-bold bg-gradient-to-r from-blue-400 to-fuchsia-400 bg-clip-text text-transparent;
  } */
  .gradient-title {
    @apply text-2xl mb-2 font-bold;
  }

  .links-wrapper {
    @apply flex justify-around text-white w-full  absolute bottom-0 left-0 p-1 px-2 bg-gradient-to-r from-[#213547]  to-amber-300;
  }

  body {
    @apply max-w-4xl lg:max-w-6xl;
  }

  picture {
    @apply w-full h-48;
  }

  footer {
    @apply p-3 mt-20;
  }

  .footer-links {
    @apply flex items-start gap-2 flex-wrap flex-col;
  }

  .livelinks {
    @apply flex justify-between gap-8;
  }
  /* .project-list {
    @apply ring-1 ring-black/15 p-12 shadow-md rounded;
  } */

  .project-list__item {
    @apply flex gap-16 p-2 relative bg-white;
  }

  .about-cards {
    @apply overflow-hidden shadow-sm;
  }

  .ring-default {
    @apply ring-1 ring-black/15;
  }

  .education-item ul {
    @apply flex flex-col gap-2;
  }

  .education-item li {
    @apply text-sm;
  }

  #menu-list li {
    @apply p-2 rounded;
  }

  .technologies-item {
    @apply gap-2 py-1;
  }
}
